doctype html
html
  head
    link(type="text/css", rel="stylesheet", href="/css/index.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript", src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js")
    script(type="text/javascript", src="/js/layout.js")
    block script

  body
    div#sidebar_cont
      ul#sidebar_menu
        li
          a(href="/mailgun") Home
        li
          a(href="/mailgun/templates") Templates
        li
          a(href="/mailgun/sending") Sending
        li
          a(href="/mailgun/tracking") Tracking
        li
          a(href="/mailgun/routing") Routing
    div#main_cont
      block submenu
    div#main_view
      block main
