extends ./layout

block script
  script(type="text/javascript", src="/js/parse-header.js")
  script(type="text/javascript", src="/js/templates.js")

block submenu
  ul#template_menu

block main
  div#editor_controls
  div#template_preview
