/*
 Color palette
 Red - FF4242
 White Green - F4FAD2
 Burst Green - D4EE5E
 Grey Green - E1EDB9
 White - F0F2EB
*/

html, body {
  height:      100%;
  width:       100%;

  background-color: #F0F2EB;

  margin:      0;
  padding:     0;

  overflow: hidden;
}

p, a, li, td {
  font-family: "Helvetica", "sans-serif";
  font-weight: bold;
  font-size: 18;
  text-decoration: none;
}

#sidebar_cont, #main_cont {
  display: inline-block;
  vertical-align: top;

  height:     100%;
  width:      15%;
  min-width:  150px;

  margin:     0;
}

#sidebar_cont { background-color: #E1ED89; }

#main_cont { background-color: #F4FAD2; }

#main_view {
  display: inline-block;
  vertical-align: top;

  background-color: #F0F2EB;

  height:      100%;
  width:       70%;

  margin:      0;
  overflow: auto;
}

ul#sidebar_menu, ul#template_menu {
  text-align: center;
  list-style-type: none;

  padding: 0;
}

#sidebar_menu li, #template_menu li {
  display: block;

  height:  40px;
  width:   100%;

  margin:  0;
  padding: 0;
}

#sidebar_menu li:hover {
  background-color: #FF4242;
}

#template_menu li:hover, .select_template {
  background-color: #FF4242;
}
